:root {
  --gS5jXb: #dadce0;
  --Aqn7xd: #d2d2d2;
  --EpFNW: #fff;
  --IXoxUe: #70757a;
  --bbQxAb: #4d5156;
  --gm3-sys-color-on-surface: #1f1f1f;
  --YLNNHc: #202124;
  --TMYS9: #1a73e8;
  --JKqx2: #1a0dab;
  --rrJJUc: #1a73e8;
  --mXZkqc: #dadce0;
  --Nsm0ce: #4285f4;
  --XKMDxc: #f7f8f9;
  --aYn2S: #ecedee;
  --Lm570b: #ecedee;
  --KIZPne: #a3c9ff;
  --xPpiM: #001d35;
  --COEmY: #202124;
  --xhUGwc: #fff;
}
